
<div class="container">
	<cfif not isDefined("session.isLoggedIn")>
		<h1>Not logged in!</h1>
		<br>
		<a href="login.cfm">Login</a>
		<cfabort>
	<cfelse>
		<cfquery name="getData">
   				SELECT day, weight
   				FROM daily
   				WHERE id =  
				<cfqueryparam cfsqltype="cf_sql_float" value="#session.id#">
			</cfquery>
			
			<cfset session.dayCount = getData.recordCount>
			<cfset session.getData = getData>
		<cfoutput>
			<h1> Hello, #session.email# </h1>	
		
		
		<div class="row">
			<div class="span4">
				<div class="well">
		 	 		<fieldset>
	    				<legend>Your Current Weight?</legend>
	    				<cfform action="submit_weight.cfm" method="POST">
							How much do you weigh today? <br>
							<cfinput type="text" name="weight" required="Yes" messsage="Please type in your weight."> <br>
							<button class="btn btn-success" name="weight" type="submit">Submit</button>
						</cfform>
	    			
	  				</fieldset>
				</div
			</div>
		</div>
		</cfoutput>

		<div class="row">
			<cfinclude template="chart.cfm">
		</div>
		
		
	</cfif>
</div